.links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bill-emitter {
    margin-right: 20px;
}
a{
    cursor: pointer;
}
.toolbar {
    width: 100%;
    justify-content: center;
}